*{
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6),rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-size: 3.7em;
    font-family: 'Caveat', cursive;
    color: #ffffff;
    text-shadow: 3px 3px 5px black;
    text-align: center;
}

.item{
    width: 140%;
    height: 250px;
    background-color: chartreuse;
    box-shadow: 4px 4px 4px black;
    border: 4px solid wheat;
}

.item img{
    height: 100%;
}

.owl-carousel{
    width: 75%;
}

.carousel{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

footer p{
    text-align: center;
    font-weight: 900;
    color: #ffffff;
}
